.custom-button {
    width: 110px;
    height: 60px;
    outline: none;
    border: none;
    font-size: 15px;
}

.custom-button-active {
    cursor: pointer;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
}

.custom-button-active:hover {
    animation: up-down 2s infinite;
}

.custom-button-inactive {
    cursor: default;
    transition: none;
    animation: none;
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}
