.main-home-container {
    padding: 80px;
    padding-top: 50px;
}

.main-home-header-container {
    display: flex;
    justify-content: space-between;
}

.main-home-name {
    margin: 0px;
}

.main-home-social-container {
    display: flex;
    width: 150px;
    justify-content: space-between;

    opacity: 0;
    animation: slide-from-right 1s ease forwards;
}

.main-home-social-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .2s ease;
}

.main-home-social-icon:hover {
    transform: scale(1.1);
}

.main-home-intro-container {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    opacity: 0;
    animation: slide-from-left 1s ease forwards;
}

.main-home-intro-name {
    font-size: 30px;
    margin: 0px;
}

.main-home-intro-job-title {
    position: relative;
    top: 5px;
}

.main-home-intro-company {
    position: relative;
    left: -3px;
    cursor: pointer;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.main-home-intro-company:hover {
    transform: translateY(-2px);
}

.main-home-projects-header {
    font-size: 20px;
    font-family: 'KollektifBold';
    opacity: 0;
    animation: slide-from-left 1s ease forwards;
}

.main-home-projects-container {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 32% 32% 32%;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 100px;
}

.main-home-project-container {
    min-height: 150px;
    border-radius: 5px;
    box-shadow:  10px 10px 20px #c7c4bc, 
             -10px -10px 20px #fffffe;
    cursor: pointer;
    transition: all .2s ease;
    padding: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    animation: slide-from-bottom 1s ease forwards;
}

.main-home-project-container:hover {
    transform: translateY(-10px);
}

.main-home-project-name {
    font-family: 'KollektifBold';
    font-size: 20px;
}

.main-home-side-project-color {
    color: #F06235;
}

.main-home-project-description {
    line-height: 23px;
}

.main-home-keyword {
    display: inline-block;
    margin: 0px;
}

.main-home-project-frameworks {
    display: flex;
}

.main-home-framework-text {
    background-color: #b9b7ae;
    color: #eae7dc;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 8px;
    margin-right: 10px;
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-from-right {
    0% {
        transform: translateX(10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-from-bottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}