html {
    background-color: #302c3f;
}

p,
ul,
li,
span {
    color: #8e8d8a;
}

.default-hovercolor {
    color: #388d7d;
}

.default-subcolor {
    color: #a5a4a2;
}

.default-sub-hovercolor {
    color: #428e80;
}

.default-accent-color {
    color: #428e80;
}

.default-border-color {
    border-color: #232130;
}

.default-border-hovercolor {
    border-color: #428e80;
}

.default-button-color {
    color: #8e8d8a;
    background: #232130;
    border-color: #232130;
}

.default-button-color:hover {
    color: #232130;
    background: #388d7d;
    border-color: #388d7d;
}

.default-box-shadow {
    box-shadow: -30px -30px 0px -20px #232130, 10px -30px 0px -20px #232130;
}

.default-dark-background {
    background-color: #232130;
}

.default-back-background {
    background-color: #232130;
}

.default-back-background:hover {
    background-color: #428e80;
}

.default-back-background:hover p {
    color: #232130;
}

.default-keyword {
    color: #302c3f;
    background-color: #388d7d;
}
