body {
    margin: 0px;
    font-family: 'Source Code Pro', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p,
li,
ul {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}

button {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}

.container-header {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
}

.default-border {
    border: 10px solid;
}
